<section class="thirteen columns">
    <h1>Computer Skills</h1>
    <article>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>C</em>,<em>MATLAB</em>,<em>SOLIDWORKS</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>CATIA</em>, <em>Origin</em>, <em>AUTOCAD</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>ABAQUS</em> &amp; <em>Origin</em>
        </p>
    </article>
</section>