<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor of Engineering in Engineering Mechanics</h1>
            <span>Harbin Institute of Technology</span>
            <span><address>Harbin, China</address><time>2016 to 2020</time></span>
        </header>
        <p>
            <em>Cumulative GPA: 3.7/4.0.</em> <br> 
			<em>2<sup>nd</sup> Prize of VTOL in China Aeromodelling Design Challenge.</em> <br> 
			<em>1<sup>st</sup> Prize of Renmin Scholarship(16/159).</em> <br> 
			<em>Merit Student(36/476).</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Spring Semester Exchange: Major in Biomedical Engineering</h1>
            <span>The Hong Kong Polytechnic University</span>
            <span><address>Hong Kong, China</address><time>01/2019 to 05/2019</time></span>
        </header>
        <p>
            <em>Courses: Fundamentals of Biomechanics, Applied Electrophysiology, Biomaterials Science
			and Engineering and Biomedical Imaging.</em>
        </p>
    </article>
	<article>
        <header>
            <h1>Winter Exchange</h1>
            <span>Ural Federal University</span>
            <span><address>Yekaterinburg, Russia</address><time>01/2018-02/2018</time></span>
        </header>
        <p>
            <em>Courses of Material Science: Advanced Composite Materials Based an Aluminum Matrix, 
			Technological Features of Cost Aluminum Silicon Allays Production, Costing Manufacturing, 
			Experimental Part, Phase Diagram Analysis, Modelling Methods for Phase Composition Prediction,
			Composite Materials Based on Non-metallic Matrix, Project Work.</em>
        </p>
    </article>
</section>
