<section class="thirteen columns">
    <h1>Extracurricular Activities</h1>
    <article>
        <header>
            <h1>Excellent Volunteer｜2018 National Conference on Solid Mechanics</h1>
            <span><address>Harbin, China</address><time>11/2018</time></span>
        </header>
    </article>
	<article>
        <header>
            <h1>Member｜2018 ASRTU Sino-Russian Micro/NanoSat Student Camp</h1>
            <span><address>Harbin Institute of Technology</address><time>04/2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Instructor｜Space Museum</h1>
            <span><address>Harbin Institute of Technology</address><time> 04/2018-07/2018</time></span>
        </header>
    </article>
	<article>
        <header>
            <h1>Top Teacher responsible for College Physics｜School of Astronautics</h1>
            <span><address>Harbin Institute of Technology</address><time> 03/2017-07/2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Leader of Kenyan Volunteer Group｜4<sup>th</sup> International Cultural Carnival</h1>
            <span><address>Harbin Institute of Technology</address><time> 06/2018</time></span>
        </header>
    </article>
	<article>
        <header>
            <h1>Leader of Technology Innovation Group, Automatic Obstacle Avoidance Trolley｜Freshman R&amp;D Project</h1>
            <span><address>Harbin Institute of Technology</address><time> 09/2016-09/2017</time></span>
        </header>
    </article>
</section>