<section class="thirteen columns">
    <h1>Publications &amp; Papers </h1>
    <article>
        </header>
        <p>
            1. &nbsp J. Zhu, W. Zhao, YJ. Liu, JS. Leng,&nbsp Assembled Triangular Unit to Transfer Chirality from Two to Three Dimensions,&nbsp The 7<sup>th</sup> International Conference on Smart Materials and Nanotechnology in Engineering,&nbsp accepted.<br>
            2. &nbsp J. Zhu, W. Zhao, LW. Liu, YJ. Liu, JS. Leng,&nbsp Elasto-static Micropolar Behavior of 4D Printing Chiral Lattice,&nbsp to be submitted.<br>
    
        </p>
    </article>
</section>