<section class="thirteen columns">
    <h1>Research Experience</h1>
    
    	<article>
        <header>
            <h1>Soft Network Structure with Tension-bend Coupling Effect Based on Tunable Young’s Modulus and Poisson’s Ratios</h1>
            <span><address>Department of Mechanical Engineering, National University of Singapore</address><time>07/2019-Present</time></span>
        </header>
        <p class="italic_text">
            <i>Instructor: Associate Prof. Wenfeng Lu.</i><br>
        </p>
        <p>
            1. &nbsp Designed a series of cells with Negative Poisson’s ratios based on fractal geometry method.<br>
            2. &nbsp Established a theory model of tension-bend coupling based on differential element method.<br>
            3. &nbsp Designed a case study to achieve the theory object deformation and carried out the finite element analysis.<br>
        </p>
        </article>
        
        <article>
        <header>
            <h1>Assembled Triangular Unit to Transfer Chirality from Two to Three Dimensions</h1>
            <span><address>Harbin Institute of Technology</address><time>04/2019-08/2019</time></span>
        </header>
        <p class="italic_text">
            <i>Instructor: Prof. Yanju Liu </i><br>
        </p>
        <p>
            1. &nbsp Proposed a new method for designing 3D chiral lattice based on FRP method.<br>
            2. &nbsp Analyzed the mechanical behavior of the proposed 3D chiral lattice under axial compression.<br>
            3. &nbsp Discussed the special mechanical properties of the proposed 3D chiral lattice including tension-twist coupling effect.<br>
            4. &nbsp Will make an oral presentation in the 7<sup>th</sup> International Conference on Smart Materials and Nanotechnology in Engineering in Harbin, China, in 20-23 September 2019.<br>
        </p>
        </article>
        
        <article>
        <header>
            <h1>Elasto-static Micropolar Behavior of 4D Printing Chiral Lattice</h1>
            <span><address>Harbin Institute of Technology</address><time>01/2019-07/2019</time></span>
        </header>
        <p class="italic_text">
            <i>Instructor: Prof. Yanju Liu    &nbsp &nbsp   Cooperator: Doctor Wei Zhao</i><br>
        </p>
        <p>
            1. &nbsp Designed two structures of 2D chiral lattice<br>
            2. &nbsp Established planar micropolar model with chirality and determined the constitutive constants.<br>
            3. &nbsp Compared the theory with experiment(specimen fabricated by 3D printing) and finite element analysis(ABAQUS).<br>
        </p>
        </article>
        
        <article>
        <header>
            <h1>Bone Bracket Design and Mechanical Simulation</h1>
            <span><address>Harbin Institute of Technology</address><time>09/2018-01/2019</time></span>
        </header>
        <p class="italic_text">
            <i>Instructor: Prof. Yanju Liu    &nbsp &nbsp   Cooperator: Doctor Wei Zhao</i><br>
        </p>
        <p>
            1. &nbsp Designed and fabricated porous bone tissue based on shape memory polymers and 4D printing technology.<br>
            2. &nbsp Obtained the evolution law of the mechanical properties of the unit cell based on the Timoshenko’s beam theory.<br>
            3. &nbsp Investigated the mechanical properties by a series of experiments and compared them with simulated results.<br>
        </p>
        </article>
        
        
        <article>
        <header>
            <h1>VTOL Project, Model Airplane Association</h1>
            <span><address>Harbin Institute of Technology</address><time>06/2017-09/2018</time></span>
        </header>
        <p class="italic_text">
            <i>Team Leader and Responsible for Structure Design and Production</i><br>
        </p>
        <p>
            1. &nbsp Designed a model aircraft by CATIA.<br>
            2. &nbsp Carried out aerodynamics simulation by Fluent.<br>
            3. &nbsp Assembled the aircraft and finished the flight test successfully.<br>
        </p>
        </article>
        
    
</section>