<section class="thirteen columns">
    <h1>Research Experience</h1>
    <article>
        <header>
            <h1>Elasto-static Micropolar Behavior and Experimental Study of 3D Printing Chiral Lattice</h1>
            <span><address>Harbin Institute of Technology</address><time> 01/2019-present</time></span>
        </header>
        <p>
            Researcher and Responsible for Chiral Structure Design and Theoretical Model Building.
        </p>
    </article>
    <article>
        <header>
            <h1>Bone Bracket Design and Mechanical Simulation</h1>
            <span><address>Harbin Institute of Technology</address><time> 09/2018-01/2019</time></span>
        </header>
        <p>
            Researcher and Responsible for Theoretical Model Calculation of lattice structure.
        </p>
    </article>
	<article>
        <header>
            <h1>2018 ASRTU Sino-Russian Micro/NanoSat Student Camp</h1>
            <span><address>Harbin Institute of Technology</address><time>April 21-26, 2018</time></span>
        </header>
        <p>
            Member, Certificate of 2018 ASRTU Sino-Russian Micro/NanoSat Student Camp.
        </p>
    </article>
	<article>
        <header>
            <h1>VTOL Project</h1>
            <span><address>Model Airplane Association, Harbin Institute of Technology</address><time>06/2017-09/2018</time></span>
        </header>
        <p>
            Team Leader and Responsible for Structure Design and Production.
        </p>
    </article>
		<article>
        <header>
            <h1>Automatic Obstacle Avoidance Trolley</h1>
            <span><address>Freshman R&D Project, Harbin Institute of Technology</address><time>09/2016-06/2017</time></span>
        </header>
        <p>
            Leader of Technology Innovation Group, 2<sup>nd</sup> Prize.
        </p>
    </article>
</section>